doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='shortcut icon', href='/img/envelope_sm.jpg')
    if lang == 'fr'
      title PostAlert - Ne vous déplacez plus inutilement à votre boîte postale.
    else
      title PostAlert - Eliminate wasted trips to an empty mailbox
    // Bootstrap core CSS
    link(href='/css/bootstrap.css', rel='stylesheet')
    // Custom styles for this template
    link(href='/css/main.css', rel='stylesheet')
    // Fonts from Google Fonts
    link(href='http://fonts.googleapis.com/css?family=Lato:300,400,900', rel='stylesheet', type='text/css')
    // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js')
  body
    // Fixed navbar
    .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/')
            b Post Alert
        .navbar-collapse.collapse
          ul.nav.navbar-nav.navbar-right
            li
              if lang == 'fr'
                a(href='/signup/en') English
              else
                a(href='/signup/fr') français
        // /.nav-collapse
    #headerwrap
      .container
        .row
          .col-lg-6
            if lang == 'fr'
                h1
                  | PostAlert sera disponible au printemps 2015
                h4.whitetext
                  | Vous pouvez précommander dès maintenant (pas de carte de crédit nécessaire) afin de profiter du prix de lancement de #{price} $ (régulier #{regPrice} $)   
                  h4
                    form#form4(role='form', name='form4', accept-charset='UTF-8', autocomplete='off', enctype='multipart/form-data', method='post', novalidate='', action='https://kolabria.wufoo.com/forms/rtjllwv1yirkz8/#public')
                      .form-group
                        input#Field3.form-control(name='Field3', type='text', value='', maxlength='255', tabindex='1', onkeyup='', placeholder='nom' )
                      .form-group
                        input#Field4.form-control(name='Field4', type='text', value='', maxlength='255', tabindex='2', onkeyup='', placeholder='code postal')
                      .form-group
                        input#Field5.form-control(name='Field5', type='email', spellcheck='false', value='', maxlength='255', tabindex='3', placeholder='courrier électronique')
                        
                      button#saveForm.btn.btn-warning.btn-lg(name='saveForm', type='submit', value='Submit', onclick='mixpanel.track("PreOrder",{"lang": "#{lang}", "price": "#{price}", "regPrice": "#{regPrice}"})') Précommander
                      input#idstamp(type='hidden', name='idstamp', value='h7k76izzbYnSPx2te6zvCH4H9BzF2VvF44I4mEY+kpg=')
                      input#Field7(type='hidden', name='Field7', value='#{lang}', maxlength='255' )  
                      input#Field9(type='hidden', name='Field9', value='#{price}', maxlength='255' ) 
                      input#Field10(type='hidden', name='Field10', value='#{regPrice}', maxlength='255' ) 
            else
              h1
                | PostAlert will be available
                br
                | in spring 2015
              h4.whitetext
                | Pre-order now (no credit card required) to lock in the introductory price of $#{price} (regular $#{regPrice})   
                h4
                  form#form4(role='form', name='form4', accept-charset='UTF-8', autocomplete='off', enctype='multipart/form-data', method='post', novalidate='', action='https://kolabria.wufoo.com/forms/rtjllwv1yirkz8/#public')
                    .form-group
                      input#Field3.form-control(name='Field3', type='text', value='', maxlength='255', tabindex='1', onkeyup='', placeholder='Name' )
                    .form-group
                      input#Field4.form-control(name='Field4', type='text', value='', maxlength='255', tabindex='2', onkeyup='', placeholder='Postal Code')
                    .form-group
                      input#Field5.form-control(name='Field5', type='email', spellcheck='false', value='', maxlength='255', tabindex='3', placeholder='Email address')
                    button#saveForm.btn.btn-warning.btn-lg(name='saveForm', type='submit', value='Submit', onclick='mixpanel.track("PreOrder",{"lang": "#{lang}", "price": "#{price}", "regPrice": "#{regPrice}"})') Pre-Order
                    input#idstamp(type='hidden', name='idstamp', value='h7k76izzbYnSPx2te6zvCH4H9BzF2VvF44I4mEY+kpg=')  
                    input#Field7(type='hidden', name='Field7', value='#{lang}', maxlength='255' )    
                    input#Field9(type='hidden', name='Field9', value='#{price}', maxlength='255' ) 
                    input#Field10(type='hidden', name='Field10', value='#{regPrice}', maxlength='255' )    
          // /col-lg-6
          .col-lg-6
            if lang == 'fr'
              img.img-responsive(src='/img/KOL_Image_500X500_0000_FR.jpg', alt='')
            else
              img.img-responsive(src='/img/KOL_Image_500X500_0001_EN.jpg', alt='')
          // /col-lg-6
        // /row
      // /container
    // /headerwrap
    .container
      br
      .row.centered
         .col-lg-4
            if lang == 'fr'
              a(href='mailto:info@postalert.ca?Subject=info') Contactez-nous
            else
              a(href='mailto:info@postalert.ca?Subject=info') Contact Us
         .col-lg-4
            p 
         .col-lg-4
            a(href='https://mixpanel.com/f/partner')
             img(src='//cdn.mxpnl.com/site_media/images/partner/badge_light.png', alt='Mobile Analytics')
      p.centered.footnote Template by BlackTie.co - Attribution License 3.0
    // /container
    //
      Bootstrap core JavaScript
      ==================================================
    // Placed at the end of the document so the pages load faster
    script(src='https://code.jquery.com/jquery-1.10.2.min.js')
    script(src='/js/bootstrap.min.js')
    script(type='text/javascript').
      (function(f,b){if(!b.__SV){var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");
      for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.mixpanel||[]);
      mixpanel.init("1a3f9a0a971a1ae700d1015549dfa2d0");
    // end Mixpanel
   

